/*********************************************
TAG SELECTOR
**********************************************/

body {
  background-color: #31326f;
}

hr {
  border-style: none;
  border-color: #ffc93c;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

img: {
  height: 200px
}

h1 {
  color: #ffc93c;
}

h3 {
  color: #ffc93c;
}

p {
  color: #dbf6e9;
}

li {
  color: #dbf6e9;
}

table {
  color: #dbf6e9;
}

a {
  color: #e84545;
}

a:active {
  color: #b4a5a5;
}

label {
  color: #dbf6e9;
}

input {
  color: #31326f;
}

/************************************
CLASS SELECTOR
*************************************/
.asano {
  width:150px;height:150px;
  background-color: black;
  box-shadow: -10px 10px  black;
  -o-box-shadow: -10px 10px  black;
  border-radius:100px;
}

.asano:hover {
  width:150px;height:150px;
  background-color: #31326f;
  box-shadow: -10px 10px  #31326f;
  -o-box-shadow: -10px 10px  #31326f;
  border-radius:100px;
}

/***************************************
ID SELECTOR
****************************************/
#heading:hover{
  color: #b4a5a5;
}
